/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

// Table
table {
  display: block !important;
  overflow-x: auto;
  white-space: normal;
  hyphen: auto;
  font-size: 75%;
  border:none;
  th{
    text-align: center! important;
  }
  td{
    text-overflow:ellipsis;
    overflow:scroll;
    max-width: 30em;
  }
}